body {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
    color: #fff
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.page-header {
    width: 100%;
    background-color: #445162;
    /*    border: 1px solid red;*/
}

.page-header:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}

.page-header-wrp {
    float: left;
    /*    border: 1px solid #fff;*/
}

.page-header-title {
    display: block;
    margin: 0 0 51px 0;
    width: 374px;
    font-size: 60px;
    font-weight: 400;
    /*    border: 1px solid red;*/
}

.page-header-pic {
    display: block;
    float: right;
    width: 469px;
    height: 214px;
    background-color: #fff;
/*    border: 1px solid red;*/
    box-sizing: border-box;
    color: black;
}

.page-header-list {
    padding: 0 0 0 35px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
}

.page-header-list-item {
    position: relative;
    list-style-type: none;
}

.page-header-list-item:before {
    content: " ";
    display: block;
    width: 25px;
    height: 19px;
    /*    border: 1px solid #fff;*/
    position: absolute;
    top: 6px;
    left: -30px;
    background-image: url(/img/check_icon.png);
}

.content {
    width: 100%;
}

.about-your-product {
    width: 100%;
    background-color: #fff;
    /*    float: left;*/
}

.about-your-product:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}

.section-about-wrap {
    float: left;
/*    border: 1px solid #912356;*/
    margin: 0 auto;
}

.section-about-title {
    display: block;
    width: 254px;
    height: 28px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding: 49px 0 0 0;
}

.section-about-p {
    /* Style for "Lorem ipsu" */
    width: 649px;
    height: 63px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-about-video {
    display: block;
    /* Style for "video" */
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin: 50px 0 0 0;
    float: right;
    box-sizing: border-box;
}

.dignity {
    width: 100%;
    background-color: #f5f5f5;
}

.dignity:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    /* Style for "Dignity an" */
    width: 351px;
    height: 28px;
    color: #445161;
    padding: 0 0 0 464px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.dignity-wrp-left {
    width: 46%;
    float: left;
}

.dignity-wrp-right {
    width: 46%;
    float: right;
}

.dignity-details-txt {
    /* Style for "Delectus d" */
    width: 526px;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 45px;
}

.dignity-pic {
    position: relative;
    outline: 0;
}

.dignity-pic::-webkit-details-marker {
    display: none;
    list-style: none;
}

.dignity-pic::after {
    background-color: #445161;
    content: "+";
    /*    color: #fff;*/
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin: -83px 0 0 0;
    padding: 5px 5px 0 0;
    text-align: center;
    width: 32px;
    height: 32px;
    /*background-image: url(/img/dignity-pic.png);*/
    position: absolute;
}

details[open] .dignity-pic::after {
    position: absolute;
    content: "-";
}

.scrinshots {
    width: 100%;
    background-color: #fff;
}

.scrinshots:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}

.scrinshots-title {
    /* Style for "Scrinshots" */
    width: 138px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 0 0 571px;
}

.scrinshots-left-wrp {
    width: 46%;
    float: left;
}

.scrinshots-right-wrp {
    width: 46%;
    float: right;
}

.scrinshots-figure {
    margin: 35px 0 45px 0;
}

.scrinshots-figure-bottom {
    margin: 0;
}

.scrinshot-pic {
    /* Style for "image" */
    width: 200px;
    /*height: 150px;*/
    background-color: #445161;
    top: 0;
    left: 0;
    display: block;
    float: left;
}

.scrinshots-figcaption {
    width: 365px;
    padding-left: 215px;
}

.figcaption-title {
    /* Style for "The descri" */
    width: 310px;
    /*height: 23px;*/
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.figcaption-text {
    /* Style for "Pariatur i" */
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-reviews {
    width: 100%;
    background-color: #f5f5f5;
}

.section-reviews:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}

.section-reviews-title {
    /* Style for "Reviews" */
    width: 111px;
    /*height: 22px;*/
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 0 0 585px;
}

.reviews-wrp-left {
    width: 46%;
    float: left;
}

.rewievs-figure {
    margin: 35px 0 45px 0;
}

.rewievs-pic {
    display: block;
    float: left;
}

.rewievs-figcaption {
    margin-left: 91px;
    background-image: url(/img/bg_review.png);
    width: 483px;
}

.rewievs-figcaption-text {
    /* Style for "Porro offi" */
    width: 436px;
    color: #333333;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 20px 0px 27px;
}

.rewievs-figcaption-autor {
    /* Style for "Lourens S." */
    width: 67px;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 27px;
}

.reviews-wrp-right {
    width: 46%;
    float: right;
}

.section-buy-it-now {
    width: 100%;
}

.section-buy-it-now:after {
    content: " ";
    display: block;
    width: 100%;
    clear: both;
}
.buy-title-wrp{ margin-left: -29px;}
.section-buy-title {
    /* Style for "Buy it now" */
    width: 137px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 0 0 572px;
}

.buy-style-wrp {
    border-radius: 10px;
    border: 2px solid #445161;
    box-sizing: border-box;
    width: 30%;
    float: left;
    background-color: #445161;
    align-self: flex-end;
}

.buy-standart-wrp {
    margin: 250px 45px 0 0;
}

.buy-premium-wrp {
    margin: 152px 30px 0 25px;
        }

.buy-lux-wrp {
    margin: 57px -27px 0 0;
    float: right;
}

.buy-title-price {
    /* Style for "Standart" */
    /*width: 90px;*/
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding: 7% 0 0 39%;
    margin: 0;
}

.buy-price {
    background-color: #fff;
    text-align: center;
    /* Style for "$100" */
    /*height: 35px;*/
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    color: #445162;
    line-height: 60px;
}

.buy-price-list {}

.buy-price-list-items {
    /* Style for "1. Porro o" */
    width: 242px;
    /*height: 86px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buy-submit {
    /* Style for "bg button" */
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 0 20px 42px
}
