body {
    margin: 0 auto;
    width: 1280px;
    font-family: Arial;
    color: #FFFFFF;
}

.page-header {
    background: #445162;
    height: 323px;
}

.page-header-title {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    display: flex;
    align-items: flex-end;
}

.page-header-wrp {
    float: left;
}

page-header-pic {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
}
.page-header-list-item{
box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
font-size: 20px;
line-height: 36px;
font-weight: 400;
}